## Segmenting and Clustering Neighborhoods in Toronto 
## Part 2

## Adding latitude and longitude coordinates of each neighborhood to dataframe

Using the Geocoder package or the csv file to create dataframe with longitude and latitude values

We'll be using a csv file that has the geographical coordinates of each postal code: http://cocl.us/Geospatial_data

In [1]:
import pandas as pd

#### Downloading csv file from http://cocl.us/Geospatial_data and converting to Dataframe

In [3]:
df_lon_lat = pd.read_csv('http://cocl.us/Geospatial_data/Toronto_long_lat_data.csv')
df_lon_lat.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [4]:
df_lon_lat.columns=['PostalCode','Latitude','Longitude']
df_lon_lat.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

#### Merging two Dataframes into a combined Dataframe

In [5]:
df_new=pd.read_csv('toronto_data.csv')
Toronto_df = pd.merge(df_new,df_lon_lat,on='PostalCode')
Toronto_df

,Unnamed: 0,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,0,M3A,North York,Parkwoods,43.753259,-79.329656
1,1,M4A,North York,Victoria Village,43.725882,-79.315572
2,2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
...,...,...,...,...,...,...
98,98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,100,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.662744,-79.321558
101,101,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So...",43.636258,-79.498509
102,102,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen...",43.628841,-79.520999

#### Saving the file to .csv file for future use

In [6]:
Toronto_df.to_csv('Toronto_csv.csv')